.container {
    padding: 1rem;
}
.myTitle {
    padding: 1rem;
    text-align: center;
    color: #FAF446;
}

.projects {
    display: flex;
    justify-content: center;
}

.projTitle {
    color: #FAF446;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.image {
    border: 2px solid grey;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
}