.containerProj {
    padding: 1rem;
}
.myTitle {
    text-align: center;
    color: #FAF446;
}

.projects {
    display: flex;
    justify-content: center;
}

.projTitle {
    color: #FAF446;
    padding-bottom: 1rem;
}

.image {
    border: 2px solid grey;
}


